{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cssblock %}
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jiantou.js"></script>
    <style>
    .am-table>tbody>tr>td, .am-table>thead>tr>td, .am-table>thead>tr>th, .am-table>tbody>tr>td>div {
        vertical-align: middle;
    }
    .am-selected {
    width: auto;
}
    .am-selected-btn {
    width: auto;
}
    .am-field-error, .am-form-error .am-form-field {
        border-color: #dedede!important;
    }
    </style>
{% endblock %}
{% block second_part %}
    <div class="detail" style="margin: 25px 0;">
  <div class="am-container">
      {% if error == 1 %}
      <div class="am-panel am-panel-warning">
            <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{ target: '#basew'}">
                  Warning
                </h4>
              </div>
            <div id="basew" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                    <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">
                        Please enter the correct data
                        <a href="/VSR/help">help</a>
                    </div>
                </div>
                </div>
              </div>
        </div>
      {% endif %}
      <div class="am-panel am-panel-primary">
            <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{ target: '#base2'}">
                  Search by keywords
                </h4>
            </div>
            <div id="base2" class="am-panel-collapse am-collapse am-in">
                <div class="am-panel-bd am-g">
{#                    <div class="am-u-lg-6">#}
{#                        <h3 style="text-align: center;margin-bottom: -10px;">Keywords for Anti-CRISPRs (ACRs)</h3>#}
{#                        <div style="border: 1px solid #10a0ea; margin: 20px;padding: 25px;">#}
{#                        <form  action="/VSR/analyze/search" method="post" name="" class="am-form-inline" role="form" data-am-validator style="text-align: center">#}
{#                                {% csrf_token %}#}
{#                            <div class="am-form-group"  style="margin-bottom: 10px">#}
{#                              <label class="am-radio-inline">#}
{#                                <input type="radio" name="radio10" value="male" data-am-ucheck> ACR ID#}
{#                              </label>#}
{#                              <label class="am-radio-inline">#}
{#                                <input type="radio" name="radio10" value="female" data-am-ucheck> Accession#}
{#                              </label>#}
{#                              <label class="am-radio-inline">#}
{#                                <input type="radio" name="radio10" value="pig" data-am-ucheck> Organism#}
{#                              </label>#}
{#                              <label class="am-radio-inline">#}
{#                                <input type="radio" name="radio10" value="pig" data-am-ucheck> Pubmed ID#}
{#                              </label>#}
{##}
{#                            </div>#}
{#                            <div>#}
{#                                <div class="am-input-group am-input-group-primary">#}
{#                                <input type="text" class="am-form-field">#}
{#                              <span class="am-input-group-btn">#}
{#                                <button class="am-btn" type="button"><span class="am-icon-search"></span></button>#}
{#                              </span>#}
{##}
{#                            </div>#}
{#                                <select data-am-selected="{maxHeight: 100}" id="databaseSelect" name="selectname">#}
{#                                    <option value="Anti-CRISPR">Family</option>#}
{#                                    <option value="nr">VSR</option>#}
{#                                    <option value="ev">Vir</option>#}
{#                                </select>#}
{#                            </div>#}
{##}
{#                        </form>#}
{#                        example: s#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="am-u-lg-6">#}
{#                        <h3 style="text-align: center;margin-bottom: -10px;">Keywords for Viral suppressors of RNA silencing (VSRs)</h3>#}
{#                        <div style="border: 1px solid #10a0ea; margin: 20px;padding: 25px;">#}
{#                        <form action="/VSR/analyze/search" method="post" name="" class="am-form-inline" role="form" data-am-validator style="text-align: center">#}
{#                                {% csrf_token %}#}
{#                            <div class="am-form-group" style="margin-bottom: 10px">#}
{#                              <label class="am-radio-inline">#}
{#                                <input type="radio" name="radio10" value="male" data-am-ucheck> ACR ID#}
{#                              </label>#}
{#                              <label class="am-radio-inline">#}
{#                                <input type="radio" name="radio10" value="female" data-am-ucheck> Accession#}
{#                              </label>#}
{#                              <label class="am-radio-inline">#}
{#                                <input type="radio" name="radio10" value="pig" data-am-ucheck> Organism#}
{#                              </label><label class="am-radio-inline">#}
{#                                <input type="radio" name="radio10" value="pig" data-am-ucheck> Pubmed ID#}
{#                              </label>#}
{#                            </div>#}
{#                            <div>#}
{#                             <div class="am-input-group">#}
{#                                <input type="text" class="am-form-field">#}
{#                              <span class="am-input-group-btn">#}
{#                                <button class="am-btn" type="button"><span class="am-icon-search"></span></button>#}
{#                              </span>#}
{#                            </div>#}
{#                                <select data-am-selected="{maxHeight: 100}" id="databaseSelect" name="selectname">#}
{#                                    <option value="Anti-CRISPR">Family</option>#}
{#                                    <option value="nr">VSR</option>#}
{#                                    <option value="ev">Vir</option>#}
{#                                </select>#}
{#                            </div>#}
{##}
{#                        </form>#}
{#                            example: s#}
{#                    </div>#}
{##}
{#                    </div>#}
                    <div class="am-u-lg-6 am-u-lg-offset-3" style="float: left;">
                        <h2 style="text-align: center;margin-bottom: -10px; color: #274472;">Quick Search</h2>
                        <div style="margin: 20px;padding: 25px;">
                            <form action="/VSR/analyze/search" method="post" name="" class="am-form-inline" role="search" id="searchform" data-am-validator style="text-align: center">
                            {% csrf_token %}
                                <div class="typeahead__container am-form-group">
                                    <div class="typeahead__field">
                                        <span class="typeahead__query">
                                            <input class="js-typeahead" name="keywords" type="search" autofocus autocomplete="off" required/>
                                            <input type='hidden' id="cla" name="classname" value="all"/>
                                        </span>

                                        <span class="typeahead__button">
                                            <button type="submit">
                                                <span class="typeahead__search-icon"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12">
                            <div class="am-panel-bd" style="color: #31708f;background-color: #d9edf7;border-color: #bce8f1;">
                                <i class="am-icon-info-circle"></i>
                                Keywords could be searched for ACRs or VSRs :
                                <ul style="padding-left: 40px">
                                    <li style="list-style: disc;"><p style="margin-bottom: 0px"><span style="color: #0e90d2;">ACR ID:</span>A unique ID for each anti-CRISPR, <i><strong>e.g.</strong></i>ACR_IF3002</p> </li>
                                    <li style="list-style: disc;"><p style="margin-bottom: 0px"><span style="color: #0e90d2;">VSR ID:</span>A unique ID for each VSR, <i><strong>e.g.</strong></i>VSR_00001</p> </li>
                                    <li style="list-style: disc;"><p style="margin-bottom: 0px"><span style="color: #0e90d2;">Accession:</span>the protein accession number of a ACR or VSR, <i><strong>e.g.</strong></i>YP_007392739.1 , <i><strong>e.g.</strong></i>J7FE71</p></li>
                                    <li style="list-style: disc;"><p style="margin-bottom: 0px"><span style="color: #0e90d2;">Organism:</span>the source organism of a ACR or a VSR, <i><strong>e.g.</strong></i>Pseudomonas phage JBD5, <i><strong>e.g.</strong></i>Sweet potato chlorotic fleck virus (SPCFV)</p></li>
                                    <li style="list-style: disc;"><p style="margin-bottom: 0px"><span style="color: #0e90d2;">Family (ACR):</span>the family name of a ACR, <i><strong>e.g.</strong></i>AcrE2</p></li>
                                    <li style="list-style: disc;"><p style="margin-bottom: 0px"><span style="color: #0e90d2;">Family, Genus (VSR):</span>the taxonomy annotation of a virus, <i><strong>e.g.</strong></i>Bromoviridae,Cucumovirus</p></li>
                                    <li style="list-style: disc;"><p style="margin-bottom: 0px"><span style="color: #0e90d2;">Pubmed ID:</span>the reference where the ACR or VSR is reported, <i><strong>e.g.</strong></i>23242138</p></li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>

      <form class="am-form am-form-horizontal" method="post" action="/VSR/blast/" target="_blank" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{ target: '#base1'}">
                  Search by Sequence
                </h4>
              </div>
            <div id="base1" class="am-panel-collapse am-collapse am-in">
                <div class="am-panel-bd">
                    <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">
                        <div class="am-u-sm-9 am-u-md-9">
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">ACR or VSR protein sequence</label>
                                    <div class="am-u-sm-9">
                                        <textarea id="textinput" class="" rows="5" id="user-intro" placeholder="" name="sequence"></textarea>
                                        <button type="button" class="am-btn am-btn-primary am-btn-xs" style="float: right" id="addbutton">example</button>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">Or upload file</label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file" style="width: 145px">
                                          <button type="button" class="am-btn am-btn-primary am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> UploadFile</button>
                                          <input id="doc-form-file" type="file" name="upfile" multiple>
                                        </div>
                                        <div id="file-list"></div>

                                    </div>
                                </div>
                        </div>
                        <div class="am-u-sm-9 am-u-md-9">
                            <div class="am-form-group">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">Database</label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{maxHeight: 140}" id="databaseSelect" name="selectname">
                                        <option value="ACRvalidated">Anti-CRISPR Protein sequences (Validated)</option>
                                        <option value="ACRnr">Anti-CRISPR Protein sequences (non-redundant)</option>
                                        <option value="VSRnr">VSR Protein sequences (non-redundant)</option>
                                        <option value="VF">Virulence factor Protein sequences (experimentally verified)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-9 am-u-md-9">
                            <div class="am-form-group" id="selectwidth">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">Algorithm</label>
                                <div class="am-u-sm-9">
                                    <label class="am-radio am-secondary" style="line-height: 4px;">
                                      <input type="radio" name="radioName" value="blastp" data-am-ucheck checked>
                                      blastp (protein-protein BLAST)
                                    </label>
                                    <label class="am-radio am-secondary" style="line-height: 4px;">
                                      <input type="radio" name="radioName" value="PSI-BLAST" data-am-ucheck >
                                      PSI-BLAST (Position-Specific Iterated BLAST)
                                    </label>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">Parameters</label>
                                <div class="am-u-sm-9">
                                    <ul>
                                        <li>
                                            <span style="font-size: 14px;">Expect threshold: </span>
                                            <input type="number" min="0" max="100" step="1" value="10" name="threshold" style="display: inline; width: 70px">
                                        </li>
                                        <li style="margin-top: 5px;">
                                            <span style="font-size: 14px;">wordsize: </span>
                                            <input type="number" min="0" max="100" step="1" value="6" name="'wordsize"  style="display: inline; width: 70px">
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12">
                            <button type="submit" class="am-btn am-btn-primary" style="width: 120px;">Blast</button>
                            <span class="infoTitle">Search database</span>
                             <span id="database_span1"  style="color: dodgerblue;">
                                  Anti-CRISPR
                             </span>
                              <span class="infoTitle">using Algorithm</span>
                              <span id="database_span2" style="color: dodgerblue;">
                                blastp (protein-protein BLAST)
                              </span>
                        </div>
                    </div>
                </div>
                </div>
              </div>
        </div>

      </form>
  </div>
</div>
{% endblock %}


{% block jsblock %}
 <script>
    $(document).ready(function() {
         $(function() {
            $('#doc-form-file').on('change', function() {
              var fileNames = '';
              $.each(this.files, function() {
                fileNames += '<span class="am-badge">' + this.name + '</span> ';
              });
              $('#file-list').html(fileNames);
            });
          });
        $('#addbutton').click(function () {
            var text = document.getElementById('textinput')
            text.innerText='>NP_666582.1 hypothetical protein SIRV2gp48 [Sulfolobus islandicus rod-shaped virus 2]\n' +
                'MEVKQIKKLNNLPWVFLDTYLNKFALDKNFVNCAYYSSRSGMTQEGCVQVMQVGDNFKVDTMREVHGIYF\n' +
                'TPHASIISLIYRQKGIRSIDDLKEILGSLNLSKVSPKHYQLLVKYSNYTIEIYDIYFKGHIYEFPLVSQQ\n' +
                'GHLNVYNVPEPRNVYLIYYENNEEKKELNKDLFNEVSEFMIYNHRVTFEKPVLEFKNLQITPGGGALVYV\n' +
                'PESMYVKLESSDHQSVEFRPSRDDWLLFSHPRPRRSGND'
        })
        $('input[type=radio][name=radioName]').change(function() {
            if (this.value == 'blastp') {
                $('#database_span2').text('blastp (protein-protein BLAST)');
            }
            else if (this.value == 'PSI-BLAST') {
                $('#database_span2').text("PSI-BLAST (Position-Specific Iterated BLAST)");
            }
        });
        $('#databaseSelect').change(function(){
            var p1=$(this).children('option:selected').val();//这就是selected的值
            $('#database_span1').text(p1);
        })
        {#var aa = document.getElementsByClassName('typeahead__filter-button')[0];#}
        $('.typeahead__dropdown').click(function () {
            var aa = document.getElementsByClassName('typeahead__filter-button')[0];
            $('#cla').val(aa.innerHTML)
        })
    });
</script>
{% endblock %}